.datetime {
    font-size: 40px;
    color: #2DBDB1;
    line-height: 50px;
}

.time {
    font-weight: 700;
}

.ampm {
    font-size: 16px;
    font-weight: 400;
}

.date {
    font-size: 16px;
    color: #666;
}